body {
    color: white;
    background:rgb(41, 63, 69);
    margin: 0px;
    font-family: "Momo Trust Display", sans-serif;
    margin-bottom: 100px;
    
    
}

header {
    border-bottom: solid 2px rgb(227, 204, 28);
    padding: 20px;
    font-size: 32px;
    color: rgb(198, 243, 18);
    
}


.chamada {
    background: rgb(4, 23, 99);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 46px;
}
p {
    font-size: 20px;
}
img {
    height: 200px;
    
}
h4{
    margin-bottom: 90px;
}